node_modules
auctions.duckdb
analysis/veilingen.sqlite
.evidence/template/.evidence-queries
.evidence/template/.svelte-kit
.evidence/template/src
.evidence/template/static
.evidence/template/.profile.json
.evidence/template/README.md
.evidence/template/postcss.config.cjs
.evidence/template/svelte.config.js
.evidence/template/tailwind.config.cjs
.evidence/template/vite.config.js
